<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__img">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="images/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img src="/images/ipad.png" alt="" />
    </picture>
    <div class="block-showcase__media">
      <ul class="li list">
        <div class="media">
          <div class="media__img">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed
              cupiditate id laboriosam perferendis pariatur illum quisquam
              assumenda quis cum.
            </p>
          </div>
        </div>
      </ul>
      <ul class="li list">
        <div class="media">
          <div class="media__img">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#easy"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed
              cupiditate id laboriosam perferendis pariatur illum quisquam
              assumenda quis cum.
            </p>
          </div>
        </div>
      </ul>
      <ul class="li list">
        <div class="media">
          <div class="media__img">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed
              cupiditate id laboriosam perferendis pariatur illum quisquam
              assumenda quis cum.
            </p>
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>
